@import "tailwindcss";

@theme {
  --color-primary: #E9E3D4;
  --color-secondary: #8C8575;
  --color-tertiary: #C9A15A;
  --color-neutral: #0A0A09;
  --color-surface: #131211;
  --color-on-primary: #0A0A09;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;

  --radius-sm: 1px;
  --radius-md: 2px;
  --radius-lg: 3px;
}

body {
  background-color: #0A0A09; /* neutral */
  color: #E9E3D4; /* primary */
  font-family: var(--font-sans);
}
